{
  "extends": ["eslint-config-next"],
  "rules": {
    "react/no-array-index-key": 0,
    "no-prototype-builtins": 0,
    "react/no-danger": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/anchor-is-valid": 0
  },
  "plugins": ["jest", "cypress"],
  "env": {
    "jest/globals": true,
    "cypress/globals": true
  }
}
