name: Cypress Tests
on: [pull_request]
jobs:
  cypress-run:
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Cypress run
        uses: cypress-io/github-action@v1
        with:
          build: yarn build:test
          start: yarn e2e:start
          wait-on: 'http://localhost:3000'
          config-file: cypress.json
